<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/app.js"></script>
</head>

<body>
<div class="main">
    {{>header}}
    <h2>{{title}}</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.886703427354!2d-0.20494078917541467!3d5.583760733346006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9b7e2e7a4eed%3A0xb13e7bac595fae3!2siMushGH!5e0!3m2!1sen!2sgh!4v1733318280115!5m2!1sen!2sgh" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p><strong>{{tel}}</strong>{{telephone}}</p>
    <p><strong>{{email}}</strong>{{emailadd}}</p>
</div>

    {{>footer}}

</body>

</html>